* {
  box-sizing: border-box;
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  padding: 10px;
  align-items: stretch;
  gap: 3rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

.address{
  position: absolute;
  right: 5%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chinnaApp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Buttons */
.btn{
  border: 2px solid #b8939f;
  background-color: black;
  border-radius: 8px;
  height: 40px;
  margin: 5px;
  color: white;
}

.btn:hover{
  background-color: white;
  color: black;
}

.dropDown{
  position: absolute;
  left: 2%;
  top: 10%;
  margin: 8px;  
}

.bigBtn{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: black;
  border: 2px solid blue;
  padding: 15px 40px;
  border-radius: 4px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.bigBtn:hover {
  color: rgba(255, 255, 255, 1B8043B);
  box-shadow: 6px 7px 18px blue;
  background-color: #26020d;
}

.askForLoan{
  position: absolute;
  left: 0;
  top: 9%;
  margin: 8px;  
}

.detail{
  border: 2px solid blue;
  margin: 7px;
  padding: 7px;
}




h1{
  color: blue;
  margin-top: 5px;
  margin-bottom: 50px;
}

.Details{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.info{
  border: 1px solid blue;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 3px;
}

.info > * {
  padding: 1px;
  margin: 1px;
}

.errorBox{
  border: 1px solid red;
  padding: 10px;
  margin: 10px;
}

.errorBox > h1{
  font-size: 30px;
  padding: 0px;
  margin: 1px;
}


h3{
  border-bottom: 1px solid blue;
}

