.hider{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(15, 1, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border: 2px solid #B8043B;
  }

.modal-body > * {
    padding: 10px;
    margin: 10px;
}